.theme-default {
    --primary: #2563eb;
    --primary-deep: #1e40af;
    --primary-mild: #93c5fd;
    font-family: 'Arial', sans-serif;
  }
  

  .theme-theme1 {
    --primary: #047857;
    --primary-deep: #065f46;
    --primary-mild: #a7f3d0;
    font-family: 'Georgia', serif;
  }
  

  .theme-theme2 {
    --primary: #be185d;
    --primary-deep: #9d174d;
    --primary-mild: #fbcfe8;
    font-family: 'Helvetica Neue', sans-serif;
  }
  